---
first_name: Admin
last_name: McAwesome
roles: [admin]
email: email@example.com
password:
---
Have no fears, your password, while plain text to start, will be encrypted upon first login. If ever you need to manually reset a password you can wipe out the password fields and start anew.

Your username is the name of the YAML file. That would make this user "admin".